body {
  margin: 0;
  padding: 0;
  background-color: #ebc1c1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* The Big Name */
.Wrap {
  background-color: rgba(198, 81, 81, 0.17);
  width: 100%;
  box-shadow:
    rgba(198, 81, 81, 0.4) 0px 2px 2px, 
    rgba(168, 68, 68, 0.3) 0px 4px 4px,
    rgba(150, 61, 61, 0.2) 0px 6px 6px,
    rgba(139, 57, 57, 0.1) 0px 8px 8px,
    rgba(126, 52, 52, 0.05) 0px 10px 10px;
}

.title{
  display: block;
  margin: auto;
  width: 50%;
}

.Slogan {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 3vw; 
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Slogan p:nth-child(1) {
  color: #c65151;
}

.Slogan p:nth-child(2) {
  color: rgb(255, 255, 255);
}

/* Report Button */
#reportButton {
  font-family: "Titillium Web", sans-serif;
  background-color: #aa4444;
  color: rgb(238, 227, 227);
  border: 0.2vw solid rgb(238, 227, 227); 
  font-size: 3vw; 
  border-radius: 1.5vw; 
  width: 50%; 
  padding: 10px 15px; 
  margin-top: 20px; 
  text-align: center; 
}

#reportButton:hover {
  background-color: #c65151;
  color: rgb(238, 227, 227);
  border: 0.2vw solid rgb(238, 227, 227);
}

#reportButton.clicked {
  background-color: #d39b9b;
  border: 0.2vw solid #c65151;
  color: #c65151;
  border-radius: 1.5vw;
}

.warning {
  color: #aa4444;
  font-size: 1.5vw; 
  margin-top: 10px;
  text-align: center;
}

#footerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  font-size: 2.5vw; 
  font-family: "Open Sans", sans-serif;
  color: #9c4242;
  padding-top: 5%; 
  padding-bottom: 5%;
}

#footerText:hover {
  color: #c65151;
}

#footerText.clicked {
  color: white;
}

/* Media Queries for different screen sizes */
/* (min-width: 600px) */
@media (min-width: 600px) {
  .Wrap {
    width: 100%;
  }

  .Slogan {
    font-size: 3vw;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  #reportButton {
    font-size: 3vw;
    border-radius: 2vw;
    width: 30%;
  }

  .warning {
    font-size: 2vw;
  }

  #footerText {
    font-size: 3vw;
  }
}

/* (min-width: 992px) */
@media (min-width: 992px) {
  .Wrap {
    width: 100%;
  }

  .Slogan {
    font-size: 1.302vw; 
    margin-top: 5%;
    margin-bottom: 1.5%;
  }

  #reportButton {
    font-size: 1.823vw; 
    border-radius: 0.781vw;
    width: 15%; 
  }

  .warning {
    font-size: 0.781vw;
  }

  #footerText {
    font-size: 1.302vw; 
    padding-top: 10%;
  }
}
