body {
    margin: 0px;
    padding: 0px;
    background-color: #ebc1c1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /*The Big Name*/
  .Wrap{
    background-color: rgba(198,	81,	81, 0.17); 
    width: 100%;
    box-shadow: 
    rgba(198,	81,	81, 0.4) 0px 5px, 
    rgba(168, 68, 68, 0.3) 0px 10px, 
    rgba(150, 61, 61, 0.2) 0px 15px,
    rgba(139, 57, 57, 0.1) 0px 20px,
    rgba(126, 52, 52, 0.05) 0px 25px;
  }

  .C1{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    position: relative; 
    height: 50vw;
    width: auto;
    margin-top: 2%;
    transform: translateX(25%);
  }

  .Cover{
    position: relative;
  }

  .Cover img
  {
    position: absolute;
    width: 75%;
    right: 55%;
    height: auto;
    background-size: contain;
    top: -60%;
  }

  .Cover img:hover {
    animation: shake 2s;
    animation-iteration-count: 2;
  }
  
  @keyframes shake {
    0% { transform: translate(5px, 5px) rotate(-5deg); }
  }

  .CoverName{
    font-family: "Titillium Web", sans-serif;
    color: white;
    font-size: 700%;
    line-height: 0.1;
    text-align: center;
    position: relative;
    right: 75%;
  }
  
  .CoverName p:nth-child(3) {
    text-indent: 3em;
  }

  .Slogan {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.302vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1.5%;
  }

  .Slogan p:nth-child(1){
    color: #c65151;
  }

  .Slogan p:nth-child(2){
    color: rgb(255, 255, 255);
  }
  
  /* Report Button */
  #reportButton {
    font-family: "Titillium Web", sans-serif;
    background-color: #aa4444;
    color: rgb(238, 227, 227);
    border: 0.104vw solid rgb(238, 227, 227);
    font-size: 1.823vw;
    border-radius: 0.781vw;
    width: 15%; 
    
  }

  #reportButton:hover {
    background-color: #c65151;
    color: rgb(238, 227, 227);
    border: 0.104vw solid rgb(238, 227, 227);
  }

  #reportButton.clicked {
    background-color: #d39b9b;
    border: 0.104vw solid #c65151;
    color: #c65151;
    border-radius: 0.781vw;
  }

  .warning{
    color:  #aa4444;
    font-size: 0.781vw;
  }

  #footerText{
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-size: 1.302vw;
    font-family: "Open Sans", sans-serif;
    color: #9c4242;
    padding-top: 10%;
  }

  #footerText:hover{
    color: #c65151;
  }

  #footerText.clicked {
    color: white;
  }
